<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>PokeDex</title>
</head>
<body>
    <h1><%=allPokemon.name%></h1>
    <img src='<%= allPokemon.img %>'></img>
    <p>
        Name: <%= allPokemon.name %></br>
        Type: <%= allPokemon.type%></br>
        HP: <%= allPokemon.stats.hp %></br>
        Attack: <%= allPokemon.stats.attack%></br>
        Defense: <%= allPokemon.stats.defense%></br>
        Special Attack: <%= allPokemon.stats.spattack%></br>
        Special Defense:<%= allPokemon.stats.spdefense%></br>
    </p>
    <a href="/pokemon/:id/edit">Edit</a>

    <input class="button" name="delete" method="POST" type="submit" value="DELETE" style="margin-top:30px; width:5%">
    

    <a href="/pokemon">Home!</a>
</body>
</html>